.non-login-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.wallet-connect-button {
    background-color: #3366FF;
    padding: 0 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 44px;
    cursor: pointer;
}

.wallet-connect-button>p {
    color: #FFFFFF;
    margin-left: 10px;
    font-weight: bold;
    user-select: none;
}

.kaikas-logo {
    height: 15px;
    width: 15px;
}

.wallet-info-layer {
    width: 100%;
    height: 30px;
}

.token-address-input {
    width: 100%;
}

.send-button {
    margin-top: 20px;
}

.invaild-target {
    color: red
}

.send-layer {
    margin-top: 20px;
}

.fee-warning {
    color: red
}

.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}