 .footer {
     background-color: #333;
     color: white;
     padding: 1rem;
     text-align: center;
     height: 50px;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .inner-footer {
     display: flex;
     justify-content: space-between;
     max-width: 1200px;
     margin: 0 auto;
 }

 .footer-links a,
 .social-media a {
     color: white;
     text-decoration: none;
     margin-right: 1rem;
 }